.metadata
language.settings.xml
wolfpkcs11/config.h.in
autom4te.cache
build-aux
aclocal.m4
libtool.m4
lt*.m4
configure
configure~
Makefile.in
aminclude.am
config.*
libtool
Makefile
wolftpm-config
.dirstamp
*.la
*.lo
stamp-h1
test-suite.log
src/.deps
src/.libs
RemoteSystemsTempFiles
*.o
*.deps
*.libs
wolfpkcs11/options.h
wolfpkcs11-config
*.log
*.trs
coverage
coverage.info
tests/pkcs11test
tests/pkcs11mtt
tests/pkcs11str
examples/add_aes_key
examples/add_hmac_key
examples/add_rsa_key
examples/add_rsa_key_file
examples/add_cert
examples/init_token
examples/mech_info
examples/obj_list
examples/slot_info
examples/token_info
store/wp11*
test/*
*.gcda
*.gcno
.cproject
.project
.settings
add_cert_file

tests/wp11_rsakey_*
tests/wp11_dhkey_*
tests/wp11_ecckey_*
tests/wp11_symmkey_*
tests/wp11_token_*
tests/wp11_obj_*
tests/token_path_test

IDE/VisualStudio/.vs
